---
---

@import "custom/custom";

.navigation-list {
  line-height: 1.4rem;
}

.navigation-list-link {
  padding: 0;
}

.navigation-list-child-list .navigation-list-item::before {
  margin-top: 0;
}

.vectormath-api-list-item {
  font-family: monospace;
}

html {
  font-size: 12px !important;
}

@media (min-width: 31.25rem) {
  html {
    font-size: 13px !important;
  }
}

@media (min-width: 31.25rem) {
  .vectormath-api-list-item {
    font-size: 14px !important;
  }
}

@media (min-width: 46.25rem) {
  .vectormath-api-list-item {
    font-size: 10px !important;
  }
}

@media (min-width: 46.25rem) and (min-width: 31.25rem) {
  .vectormath-api-list-item {
    font-size: 12px !important;
  }
}

h4 {
  font-size: 12px !important;
  text-transform: none;
  letter-spacing: 0;
  font-weight: 500;
}

@media (min-width: 31.25rem) {
  h4 {
    font-size: 14px !important;
  }
}

.vectormath-api-list-child-list {
  position: relative;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;

  border-left: 1px dashed #aaa;
  margin-left: -12px;
  padding-left: 12px;

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    border-bottom: 1px dashed #aaa;
    width: 10px;
    content: " ";
  }
}

.navigation-list-child-list .navigation-list-link {
  color: $grey-dk-000;
}

.vectormath-api-list-item::before {
  display: none;
}

.api-reference-details {
  display: none;
}

.navigation-list-item.active .api-reference-details {
  display: block;
}

.api-reference-details summary {
  position: relative;
  font-weight: 600;
  color: black;
  list-style: none;
  outline: none;
  cursor: default;

  &::-webkit-details-marker {
    display: none;
  }
}

.api-reference-details summary::before {
  content: " ";
  background-image: url({{"/assets/svg/plus.svg"|absolute_url}});
  background-size: cover;
  position: absolute;
  left: -16px;
  top: 6px;
  width: 10px;
  height: 10px;
}

.api-reference-details[open] summary::before {
  content: " ";
  background-image: url({{"/assets/svg/minus.svg"|absolute_url}});
  background-size: cover;
  position: absolute;
  left: -16px;
  top: 6px;
  width: 10px;
  height: 10px;
}

.vectormath-reference-header {
  margin: 1rem -3rem;
  padding: 0.5rem 3rem;
  background: $grey-lt-100;
  font-family: monospace;
  font-size: 14px !important;
}

@media (min-width: 31.25rem) {
  .vector-reference-header {
    font-size: 16px !important;
  }
}

.page-content dd {
  font-weight: 400;
}

.vectormath-signature {
  font-family: monospace;
  font-size: 12px !important;
}

dl.vectormath-parameter-list {
  font-size: 12px !important;
  display: block;
  .optional {
    font-style: italic;
  }

  dt {
    font-family: monospace;
    text-align: left;
    margin: 0;
    font-weight: 600;
  }

  dt::after {
    content: "";
  }

  dd {
    margin: 0 0 0 1em;
  }
}

.vectormath-type {
  &.-primitive {
    color: $grey-dk-250;
  }
}

table.vectormath-signature {
  display: table !important;
  width: initial;
  max-width: initial;
  margin-bottom: initial;
  overflow-x: initial;
  box-shadow: none;

  td {
    white-space: nowrap;
    min-width: initial;
    padding: initial;
    background: none;
    border: none;
    font-size: inherit !important;
  }
}

.vectormath-reference-content {
  margin: 1rem 0 2rem 0;
}

pre.highlight,
figure.highlight,
code {
  background: $grey-lt-000;
}


figure.highlight code {
  padding: 0;
  border: 0;
}

.vectormath-example figure {
  padding: 10px;
}
